<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}YOUR Response{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-free-5.13.0-web/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
    {% endblock %}
</head>
<body class="main">
{% block body %}{% endblock %}
{% block javascripts %}
    {{ include('default/scripts.html.twig') }}
{% endblock %}
</body>
</html>
