/*Main*/
a{
    text-decoration: none;
}
.button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border:0;
}
.button:hover{
    background: rgb(53, 167, 110);
}
.button:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
/*header*/
.header__link{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 30px;
}
.header__nav{
    display: flex;
    background-color: darkgray;
    padding: 15px;
}
/*main*/
.container{
    padding: 0 150px;
}
.main__title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
}
.container_optimalHeight{
    min-height: 89.1vh;
}
.font_default{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}
/*Form*/
.main__form{
    margin-top: 50px;
    width: 450px;
}
.block__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__row{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.form__input{
    flex-basis: 80%;
    height: 20px;
}
.form__button{
    display: flex;
    justify-content: center;
}
.display_none{
    display: none;
}
.error__input{
    border-color: red;
}
/*message*/
.message{
    text-align: center;
    width: 40%;
    padding: 5px 20px;
    margin-bottom: 30px;
}
.message__success{
    background-color: #D4EDDA;
}
.message__error{
    background-color: #F8D7DA;
}
.message__text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
/*footer*/
.footer{
    display: flex;
    background-color: darkgray;
    padding: 10px 25px;
    justify-content: flex-end;
}
.footer__title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
}