{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
{#    header#}
    {{ include('default/header.html.twig') }}
{#    block-login#}
    <div class="d-flex container container_optimalHeight align-items-center">
        <div class="container-fluid col-6 h-70">
            <form method="post">
                <h1 class="h1 mb-3 font-weight-normal text-center text-light"><span class="logo_red">А</span>вторизация</h1>
                {% if error %}
                    <p class="alert alert-danger error_font">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
                <div class="row d-flex justify-content-around mb-3">
                    <label for="inputEmail" class="text-light label_width text-center">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input_width" required autofocus>
                </div>
                <div class="row d-flex justify-content-around mb-3">
                    <label for="inputPassword" class="text-light label_width text-center">Пароль</label>
                    <input type="password" name="password" id="inputPassword" class="form-control input_width" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <div class="row justify-content-center mt-4">
                    <button class="btn btn-lg btn-dark col-6 btn_style" type="submit">
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
